#mainNavigation .asterisk {
  .transition(0.5s , 0.1s , ease-in-out);
}

nav.navbar {
  background: @navbar-inverse-bg url("../Images/BlurBg.png") bottom ;
  margin-bottom: @grid-gutter-width / 2;
  > div.container > div.row {
    position: relative;
  }
}

.navbar-inverse .navbar-nav > li > a { background: @navbar-inverse-link-bg; }

#logo {
  img {
    width: 230px;
    &:hover, 
    &:active {
      opacity: 0.9;
    }
  }
}

#mainNavigation {
  position: absolute;
  left: 0;
  top: @navbar-height;
  div.wrap {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 0;
    top: -@navbar-height;
  }

  /* All Levels */
  ul {
    display: block;
    padding: 0;
    width: auto;
    overflow: hidden;
    li {
      display: block;
      position: relative;
      a {
        display: block;
        text-align: left;
        color: @navbar-inverse-link-color;
        &:hover,
        &:active {
          text-decoration: none;
        }
        &:hover {
          color: @navbar-inverse-link-hover-color;
          background-color: @navbar-inverse-link-hover-bg;
        }
        &:active {
          color: @navbar-inverse-link-active-color;
          background-color: @navbar-inverse-link-active-bg;
        }
      }
      &:hover > a {
        color: white;
      }
      &.active > a {
        color: @brand-primary;
      }
      &.current > a {
        color: white;
        background: @brand-primary;
      }
      &:hover > ul {
        max-height: 5000px;
        overflow: visible;
      }
    }
  }

  div.wrap:hover + ul,
  div.wrap:active + ul,
  > ul:hover {
    overflow: visible;
    max-height: 5000px;
  }

  /* First Level */
  > ul {
    max-height: 0;
    margin: 0 -(@grid-gutter-width / 4);
    background: @gray-darker;
    .box-shadow(0 0 4px rgba(0,0,0,0.9));
    > li {
      .border-top(1px , @gray-dark);
      .border-bottom(1px , black);
      &:first-child {
        .border-top(0);
      }
      > a {
        font-size: 1.3rem;
        text-transform: uppercase;
        padding: @grid-gutter-width / 4 @grid-gutter-width / 2;
      }
      > ul {
        li:last-child {
          margin-bottom: @grid-gutter-width / 2;
          > ul > li:last-child {
            margin-bottom: 0;
          }
        }
        > li {
          a { padding: 2px 0 2px @grid-gutter-width; }
          > ul > li {
            > a { padding-left: @grid-gutter-width * 1.5; }
            > ul > li {
              > a { padding-left: @grid-gutter-width * 2; }
            }
          }
        }
      }
    }
  }
}

/* Small devices and up (tablets) */
@media (min-width: @screen-sm-min) {
}

/* Medium devices and up (desktops) */
@media (min-width: @screen-md-min) {
  #mainNavigation {
    position: relative;
    top: 42px;
    > ul {
      display: table;
      width: 100%;
      margin: 0;
      .box-shadow(none);
      background: none;
      > li {
        display: table-cell;
        border: none;
        > a {
          background: rgba(0, 0, 0, 0.4);
          text-align: center;
          padding: 15px 5px;
          margin-left: 2px;
        }
        &:first-child a {
          margin-left: 0;
        }
        ul {
          position: absolute;
          max-height: 0;
          margin-left: 2px;
          li {
            position: relative;
            a {
              padding: 2px 14px !important;
              text-align: left;
              white-space: nowrap;
              border-top: 1px @gray-darker solid ;
            }
            &:last-child > a {
              border-bottom: 5px @navbar-inverse-link-bg solid;
            }
            ul {
              left: 99%;
              top: 0;
            }
          }
        }

        &:hover a {
          background: rgba(255,255,255, 0.1);
        }
        &:hover ul li {
          &:hover,
          a:hover {
            border-top-color: @brand-primary ;
          }
          a {
            background: @navbar-inverse-link-bg; 
          }
          &.current a { background: @brand-primary; }
        }

        &:last-child ul {
          left: auto;
          right: 0;
          li ul {
            left: auto;
            right: 98%;
          }
        }
      }
    }
  }
}

/* Large devices and up (large desktops) */
@media (min-width: @screen-lg-min) {
}

/* --- Styles restricted on one size ---------------------------------------- */
/* Extra small devices only (phones) */
@media (max-width: @screen-xs-max) {}

/* Small devices only (tablets) */
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {}

/* Medium devices only (desktops) */
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {}

/* Large devices and up (large desktops) */
@media (min-width: @screen-lg-min) {}