@import "bootstrap.variables_and_mixins.less";

/*
 * Custom Styles here
 * keep in mind that bootstrap thinks mobile first 
 * You can add styles restricted on one size only after the
 * section "Large devices"
 */

/* Extra small devices and up (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* General transitions */
* {
  transition: all 0.5s ease-in-out 0.1s; /* explorer 10 */
  -webkit-transition: all 0.5s ease-in-out 0.1s; /* chrome & safari */
  -moz-transition: all 0.5s ease-in-out 0.1s; /* firefox */
  -o-transition: all 0.5s ease-in-out 0.1s; /* opera */
}

body {
  //background-image: url('../Images/BlurBgSand.png');
}
.navbar-inverse .navbar-nav > li > a {
  background: @navbar-inverse-link-bg;
//  border-left: 1px rgba(40, 40, 40, 0.5) solid;
//  border-right: 1px rgba(70, 70, 70, 0.5) solid;
}
nav.navbar {
  background-image: url("../Images/BlurBg.png");
}
#logo {
  img {
    width: 100%;
    &:hover, 
    &:active {
      opacity: 0.9;
    }
  }
}

#mainNavigation {
  li { 
    display: none;
    &.lvl1 {
      display: block;
    }
  }
}

.test {
  background: #333;
}


/* Small devices and up (tablets) */
@media (min-width: @screen-sm-min) {

}

/* Medium devices and up (desktops) */
@media (min-width: @screen-md-min) {

}

/* Large devices and up (large desktops) */
@media (min-width: @screen-lg-min) {

}

/*
 * Styles restricted on one size
 */
/* Extra small devices only (phones) */
@media (max-width: @screen-xs-max) {
  
}

/* Small devices only (tablets) */
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {

}

/* Medium devices only (desktops) */
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

}

/* Large devices and up (large desktops) */
@media (min-width: @screen-lg-min) {

}