@import "bootstrap.variables_and_mixins.less";

/* Custom Styles here. Keep in mind that bootstrap thinks mobile first */

/* Extra small devices and up (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* General transitions */
* {
  transition: all 0.5s ease-in-out 0.1s; /* explorer 10 */
  -webkit-transition: all 0.5s ease-in-out 0.1s; /* chrome & safari */
  -moz-transition: all 0.5s ease-in-out 0.1s; /* firefox */
  -o-transition: all 0.5s ease-in-out 0.1s; /* opera */
}
html {
  height: 101%;
}
body {
  //background-image: url('../Images/BlurBgSand.png');
}
.navbar-inverse .navbar-nav > li > a {
  background: @navbar-inverse-link-bg;
//  border-left: 1px rgba(40, 40, 40, 0.5) solid;
//  border-right: 1px rgba(70, 70, 70, 0.5) solid;
}
nav.navbar {
  background: @navbar-inverse-bg url("../Images/BlurBg.png") bottom ;
  border: 0;
}
#logo {
  img {
    width: 100%;
    min-width: 200px;
    &:hover, 
    &:active {
      opacity: 0.9;
    }
  }
}

#mainNavigation {
  ul {
    padding: 0;
    margin: 0;
    width: 100%;
    display: table;
/*
    .menu-item-border-left(@opacity: 0.6);
    border-left-width: 1px;
    .menu-item-border-right(@opacity: 0.3);
    border-right-width: 2px;
 */
    li { 
      display: none;
      a {
        display: block;
        text-align: left;
      }
      &.lvl1 {
        display: table-cell;
        width: 16.66666%;
        position: relative;
//        background: rgba(20,20,20,0.3);
        > a {
          padding: 22px 0;
          text-align: center;
//          .menu-item-border-left(@opacity: 0.3);
//          .menu-item-border-right(@opacity: 0.6);
        }
      }
      &:hover > ul > li {
        display: block;
      }
    }
    ul {
      display: block;
      position: absolute;
    }
  }
}

.test div div {
  background: #333;
  color: @gray-lighter;
  text-align: center;
}


/* Small devices and up (tablets) */
@media (min-width: @screen-sm-min) {
  body { background: Cornsilk; }
}

/* Medium devices and up (desktops) */
@media (min-width: @screen-md-min) {
  body { background: LightCyan; }
  #mainNavigation {
    > ul {
      margin-top: 35px;
    }
  }  
}

/* Large devices and up (large desktops) */
@media (min-width: @screen-lg-min) {
  body { background: LightBlue; }
}

/*
 * Styles restricted on one size
 */
/* Extra small devices only (phones) */
@media (max-width: @screen-xs-max) {
  
}

/* Small devices only (tablets) */
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {

}

/* Medium devices only (desktops) */
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

}

/* Large devices and up (large desktops) */
@media (min-width: @screen-lg-min) {

}