<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <f:link.page pageUid="3" class="navbar-brand navbar-brand-image" title="{siteName}Home">
        <img src="{f:uri.image(src: 'EXT:typo_paradise/Resources/Public/Images/LogoMotoclubWafna.svg')}" alt="Motoclub Wafna Logo" />
      </f:link.page>

    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <f:cObject typoscriptObjectPath="lib.navigation" />
    </div><!--/.nav-collapse -->
  </div>
</nav>


<!-- 
######
<a class="navbar-brand" href="#">{siteName}Seitenname aus TS</a>
<f:cObject typoscriptObjectPath="lib.logo" /> 
######
-->