<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="row">

      <div id="logo" class="col-xs-6 col-sm-4 col-md-3">
        <f:link.page pageUid="3" title="Home">
          <img src="{f:uri.image(src: 'EXT:typo_paradise/Resources/Public/Images/LogoMotoclubWafna.svg')}" alt="Motoclub Wafna Logo" />
        </f:link.page>
      </div>

      <div id="mainNavigation" class="col-xs-12 col-md-9">
        <div class="wrap">
          <button type="button" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <f:cObject typoscriptObjectPath="lib.mainNavigation" />
      </div>

    </div>
  </div>
</nav>


<!-- 
######
<a class="navbar-brand" href="#">{siteName}Seitenname aus TS</a>
<f:cObject typoscriptObjectPath="lib.logo" /> 
######
-->